<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style type="text/css">
.container{
	margin-top:50px;
}
.row{
margin:0xp auto;
width:960px;
}
</style>
</head>
<body>
<div class="container">
	<h3 class="text-center">삭제하기</h3>
	<div class="row">
		<table class="table">
			<tbody>
				<tr>
					<td class="text-center">
					<form method="post" action="">
						비밀번호 : <input type="password" class="input-sm" size=15	 name="pwd">
						<button class="btn-sm" ></button>
					</form> 
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
